/*Aqui eu faço a mudança universal do site..
no container article está inserido o big-card entao a margin-top
é em relação a ao site como um todo*/

.container__articles{
  margin-top: 30px;
  display:flex;
  flex-direction: row;
  justify-content: center;
}


